.inputWrapper label{
    display: block;
    margin:-1px 0;
    text-align: right;
}
.inputWrapper input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: right;
    border-radius: 5px;
   margin: 15px 0;
}