.headerWrapper{
       box-shadow: 0px 3px 5px #ccc;

       
}

.header{
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    
}
.header ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    flex-direction: row-reverse;
    gap: 30px;
    padding-right: 40px;
}
.header ul li{
    cursor: pointer;
}