
.CreateArticlePage h1{
    text-align: right;
    font-size: 17px;
    margin: 30px 0px;
}
.buttonWrapper {
    text-align: right;
}

.buttonWrapper button{
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 50px 160px;

}

.buttonWrapper button:active{
    opacity: .8;
}